
@import "compass";
@import "compass/reset";

$background-color: rgb(230, 200, 162);
$neutral-color: rgb(67, 67, 67);
$contrast-color: rgb(100, 87, 70);
$exciting-color: rgb(211, 105, 98);
$light-neutral-color: #AFAFAF;


body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  //
  outline: 1px dashed gray;
  //
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0px;
}

.fixed-side-title {
  color: $background-color;
  text-shadow: -2px  2px white,
                1px -1px white;
  font-size: 70px;
  position: fixed;
  @include transform-origin (0,0);
  @include transform (rotateZ(-90deg) translateX(-550px) translateY(30px));
}

.top-title {
  color: $exciting-color;
  font-size: 60px;
  text-align: center;
}

.hero {
  //
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: $neutral-color;
  border-left-color: $neutral-color;

  //
  background: $background-color;

  .container {
    margin-top: 30px;
    margin-bottom: 80px;
  }

}

.link-div {
  
  &.begin-row {
    margin-left: 0px;
  }

  a {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
  }

  position: relative;
  margin-left: 11px;
  margin-right: 0px;
  margin-bottom: 9px;
  margin-top: 9px;
  display: inline-block;
  background: $contrast-color;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 147px;

  .link-div-popup {
    @include transition (border-top-width 0.2s ease-in-out);
  }

  &:hover .link-div-popup {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 75px solid transparent;
    border-top-color: $exciting-color;
    border-top-width: 10px;
    margin: 0 auto;
    top: 80px;
  }

  &:hover a {
    text-decoration: underline;
  }
} // end link-div

.button {
  @include border-top-right-radius (30px);
  background: $exciting-color;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  font: 20px;

} // end of button

input {
  width: 480px;
  height: 80px;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  color: $neutral-color;
  border: 5px solid $light-neutral-color;

  &:focus {
    outline: none;
  }
} // end of input

.anjelica {
  background: white;
  position: relative;
  width: 510px;
  height: 110px;
  margin: 20px auto;

  .button {
    opacity: 0.9;
    position: absolute;
    z-index: 10px;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 0px;

    &:hover {
      opacity: 1;
      height: 50px;
      font-size: 25px;
    }
  }

  input {
    position: absolute;
    z-index: 5px;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 10px;
  }
} // end of anjelica-style

.result {
  background: $background-color;
  padding: 20px;
  font-size: 20px;
  color: $neutral-color;
  margin: 20px auto;
  width: 480px;
  @include border-radius(5px);
}




.examples {
  //
  outline: 1px dashed pink;
  //
  position: relative;

  $exampleHeight: 300px;

  .container {
    font-size: 20px;
    color: white;
    margin: 30px auto;
    height: $exampleHeight;
    background: $contrast-color;
  }

  .explanation {
    //
    outline: 1px dashed lime;
    //
    line-height: 150%;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 278px;
  }

  .example {
    //
    outline: 1px dashed orange;
    //
    position: relative;
    width: 636px;
    height: $exampleHeight;
    display: inline-block;
  }

} // end of examples

#example1 {

  .color-changer {
    width: 200px;
    height: 200px;
    margin: 60px auto;
    background: rgb(0, 0, 200);
  }


} // end of .example1

#example2 {

}