
@import "compass";
@import "compass/reset";

$background-color: rgb(220,  221, 204);
$neutral-color: rgb(67, 67, 67);
$contrast-color: rgb(89, 75, 60);
$exciting-color: rgb(211, 105, 98);
$light-neutral-color: #AFAFAF;


body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 0px;
}

.container {
  //
  // outline: 1px dashed gray;
  //
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0px;
}

.fixed-side-title {
  color: $background-color;
  text-shadow: -2px  2px white,
                1px -1px white;
  font-size: 70px;
  position: fixed;
  @include transform-origin (0,0);
  @include transform (rotateZ(-90deg) translateX(-550px) translateY(20px));
}

.top-title {
  color: $exciting-color;
  font-size: 90px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.tool-tip {
  position: absolute;
  background: rgba(67, 67, 67, 0.75);
  border: 3px solid white;
  padding: 40px;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 70px;
  height: 70px;
  @include border-top-left-radius(20px);
  @include single-box-shadow(rgb(67, 67, 67), -3px, 3px, 3px, 0px);
  @include transition(all 0.2s ease-in-out);
}

.hero {
  //
  border: 10px solid;
  border-color: transparent;
  border-left-color: $background-color;

  //
  background: white;
  margin-bottom: 1200px;

  .container {
    margin-top: 10px;
    margin-bottom: 0px;
  }

}


.link-div {
  
  &.begin-row {
    margin-left: 0px;
  }

  position: relative;
  margin-left: 11px;
  margin-right: 0px;
  margin-bottom: 9px;
  margin-top: 9px;
  display: inline-block;
  background: $contrast-color;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 147px;

  .link-div-popup {
    @include transition (border-top-width 0.2s ease-in-out);
  }

  &:hover .link-div-popup {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 73px solid transparent;
    border-top-color: $exciting-color;
    border-top-width: 10px;
    margin: 0 auto;
    top: 80px;
  }

  &:hover {
    text-decoration: underline;
  }
} // end link-div

.button {
  @include border-top-right-radius (30px);
  background: $exciting-color;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  font: 20px;
  letter-spacing: 2px;
  cursor: pointer;

} // end of button

input {
  width: 480px;
  height: 80px;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  color: $neutral-color;
  border: 5px solid $light-neutral-color;

  &:focus {
    outline: none;
  }
} // end of input

.anjelica {
  background: transparent;
  position: relative;
  width: 510px;
  height: 110px;
  margin: 20px auto;

  .button {
    opacity: 0.9;
    position: absolute;
    z-index: 10px;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 0px;

    &:hover {
      opacity: 1;
      height: 45px;
      font-size: 25px;
    }
  }

  input {
    position: absolute;
    z-index: 5px;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 10px;
  }
} // end of anjelica-style

.result {
  background: $background-color;
  visibility: hidden;
  padding: 20px;
  font-size: 20px;
  color: $neutral-color;
  margin: 20px auto;
  width: 480px;
  @include border-radius(5px);

  &.reveal {
    visibility: visible;
  }
}




.examples {
  //
  // outline: 1px dashed pink;
  //
  position: relative;

  $exampleHeight: 300px;

  .container {
    font-size: 20px;
    color: white;
    margin: 30px auto 200px;
    height: $exampleHeight;
    background: $contrast-color;
    overflow: hidden;
  }

  .explanation {
    //
    // outline: 1px dashed lime;
    //
    line-height: 150%;
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 278px;
  }

  .example {
    //
    // outline: 1px dashed orange;
    //
    position: relative;
    width: 636px;
    height: $exampleHeight;
    display: inline-block;

    & > a {
      position: absolute;
      background: $background-color;
      bottom: -20px;
      right: -1px;
    }
  }

} // end of examples

.color-changer {
  width: 200px;
  height: 200px;
  margin: 30px;
  background: rgb(0, 0, 200);
  -webkit-transition: all 1s ease;
}

.ball {
  height: 130px;
  width: 130px;
  line-height: 130px;
  margin: 20px;
  background: $background-color;
  position: relative;
  @include border-radius(100%);
}

.gun {
  position: absolute;
  background: white;
  left: 30px;
  top: 150px;
  width: 75px;
  height: 30px;
  overflow:  visible;
  -webkit-transition: all 1s ease;

  &.fired{
    width: 85px;
  }
}

.bullet {
  background: $background-color;
  width: 20px;
  display: inline-block;
  font-size: 14px;
  height: 15px;
  position: absolute;
  vertical-align: middle;
  right: 550px;
  top: 160px;
  -webkit-transition: all 0.3s ease;

  
  &.fired {
    right:-20px;
  }
}

#example1 {
  .color-changer {
    margin-left:  200px;
  }
} // end of .example1

#example2 {
  .anjelica {
    margin-top: 65px;
  }

}

#example3 {
  .ball {
    display: inline-block;
    position: absolute;

    &.a {
      &:hover {
        @include transform (scale(1.1, 1.1));
      }

    }

    &.b {
      left: 200px;
      &:hover {
        @include transform (scale(1.1, 1.1));

      }
    }

    &.c {
      &:hover {
        @include transform (scale(1.1, 1.1));

      }
      left: 400px;
    }

    &.dropped {
        bottom: 0px;
    }
  }

} // end of example 3

#example4 {

}

#example5 {
  .ball {
    -webkit-transition: all 0.51s ease;
    height: 0px;
    width: 0px;
    display: inline-block;
    margin: 0px, 0px, 0px, 0px;
  }
}

#example6 {
  input {

  }

  .color-changer {
    margin: 10px auto;
    width: 125px;
    height: 125px;
  }

}

#example7 {

  .ball{ 
    @include single-transition(all, 0.5s, ease);
    color: $background-color;
    text-align: center;
    font-size: 40px;
    margin-top: 80px;

    &.fixed {
      @include border-radius(0px);
      position: fixed;
      right: 50px;
      margin-left: 30px;
      top: 100px;
      color: white;
      background-color:  $exciting-color;
      z-index: 100;
    }
  }

}

#example8 {
  .color-changer {
    position: relative;
    background: $background-color;
    margin-left:  200px;

    .tool-tip{
      top: 10px;
      left: -146px;
      height: 95px;
      width: 95px;

      &.hidden {
        width: 25px;
        margin-left: 146px;
      }
    }
  }
}

#example9 {

  .color-changer {
    width: 280px;
    height: 200px;
    margin: 50px 20px 20px 100px;
    @include single-transition(all, 0.15s, linear);
    background: url("http://lorempixel.com/g/280/200/nature/10");

      &.color {
        background: url("http://lorempixel.com/280/200/nature/10");
      }
  } //end of color-changer div
} // end of example9

#example10 {
  color: white;
  overflow: hidden;
  .text-overlay {
    font-family: 'Stalemate', cursive;
    width: 2660px;
    position: absolute;
    font-size: 100px;
    left: -100px;
    top: -200px;
    line-height: 85%;
    @include transform-origin(0px, 0px);
    @include transform(scale(0.5));
    @include transition(all 10s ease-in-out);

    &.translate {
      // @include translate(-100px, -100px);
      @include transform-origin();
      @include transform(translate(-100px, -100px) 
                     rotateZ(-20deg) 
                     scale(2, 2));
      // transform: translate(-100px, 100px);
    }
  }
}